<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input type="text" v-model="enteredGoalValue" />
      <button @click="addGoal">Add Goal</button>
      <p v-if="goals.length === 0">
        No goals have been added yet - please start adding some!
      </p>
      <ul v-else>
        <!-- Vai percorrer o array goals, e renderizar o que tiver lá, magia do framework XD -->
        <!-- Repeita um escopo, tu não consegue renderizar goal do v-for fora do contexto -->
        <!-- <li v-for="goal in goals">{{ goal }}</li> -->
        <li v-for="(goal, index) in goals">{{ goal }} - {{ index + 1}}</li>
      </ul>

      <!-- Loopando por objetos, já solta o valor da prop, refatorar no canoa se precisar -->
      <ul>
        <!-- O objeto numa situação real vem de alguma requisição ou algo assim, chapar ele no data -->
        <!-- Valor e chave é possível -->
        <li v-for="(value, key) in {name: 'Saulo', age: 23}">{{ key }} : {{ value }}</li>
      </ul>
    </section>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            goals: [],
            enteredGoalValue: "",
          };
        },
        methods: {
          addGoal() {
            this.goals.push(this.enteredGoalValue);
          },
        },
      });

      app.mount("#user-goals");
    </script>
  </body>
</html>
